<h2>Por País:</h2>
<hr>


<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input type="text"  name="termino" placeholder="Buscar país..." class="form-control " [(ngModel)]="termino"/>
    </form>
  </div>
</div>

<hr>

<div *ngIf="hayError"  class="alert alert-danger">
  No hay resultados que mostrar con el término "{{termino}}".
</div>

<div class="row">
  <div class="col">
    <table *ngIf="!hayError" class="table table-hover">
      <thead>
          <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        <!-- https://flagcdn.com/co.svg -->
          <tr>
            <td>1</td>
            <td><img src="https://img.freepik.com/foto-gratis/ondeando-bandera-seda-costa-rica_97886-4082.jpg" width="100" height="50"></td>
            <td>Costa Rica</td>
            <td> 5.000.000</td>
            <td> <a href="/pais/cri"> Ver... </a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Tu mensaje:  <textarea name="textarea" rows="5" cols="70" placeholder="Write something here"></textarea> -->
<!-- ese textarea es para ingresar un cuadro grande y que se puede ir expandiendo -->
