<h2>Por País:</h2>
<hr>


<div class="row">
  <div class="col">
   <app-pais-input (onEnter)="buscar($event)" (OnDebounce)="sugerencias($event)" placeholder="Buscar País..."></app-pais-input>
  </div>
</div>

<hr>

<div *ngIf="hayError"  class="alert alert-danger">
  No hay resultados que mostrar con el término "{{termino}}".
</div>

<div  *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>

<!-- Tu mensaje:  <textarea name="textarea" rows="5" cols="70" placeholder="Write something here"></textarea> -->
<!-- ese textarea es para ingresar un cuadro grande y que se puede ir expandiendo -->
